
{% extends "customer_temp/base.html" %}
{% load static %}
{% block title %} Order Remarks {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'manil/css/ticket_view.css' %}">
{% endblock styles %}


{% block content %}
<div class="container">
    <!-- Page Header -->
    <h2 class="text-center mb-3">Ticket Summary</h2>

    <!-- Section 1: Order Details -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Ticket Details{{tickets.ticket_num}}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Ticket ID: </strong></span>{{tickets.ticket_num}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Ticket Date: </strong></span> {{tickets.ticket_date|date:"d/m/Y"}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Raised By: </strong></span> {{tickets.created_by}}
                    </div>
                </div>
               
                <!-- Right column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Robot ID: </strong></span>{{tickets.robot_id}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Robot Name: </strong></span> {{tickets.robot_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Complaint Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-12">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Complaint Titls: </strong></span>{{tickets.complaint_title}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Complaint Description: </strong></span> {{tickets.cmp_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if tickets.res_description %}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Resolved Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-12">                    
                    <div class="mb-3">
                        <span class="text-muted"><strong>Resolved Description: </strong></span> {{tickets.res_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Back and Print Buttons -->
    <div class="form-buttons mt-3 text-center">
        <button class="btn btn-secondary btn-sm me-2" type="button" onclick="window.history.back()">Back</button>

        {% if  tickets.res_description and not tickets.status == 'Closed' %}
            <form method="post" action="{% url 'close_ticket' tickets.ticket_num %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm ">Close Ticket</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}