{% extends "manil_temp/base.html" %}
{% load static %}
{% block title %} Manil Ticket {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'manil/css/manil_ticket.css' %}">
    <link rel="stylesheet" href="{% static 'messages.css' %}">
{% endblock styles %}


{% block content %}
<div class="container-fluid table-container display responsive wrap fade-in">

    <!-- Floating Alert for Success Messages -->
    <div id="floating-alert-success" class="floating-alert-success">
        <span id="floating-alert-success-message"></span>
    </div>
    
    <div class="d-flex align-items-center position-relative"> <!-- Added position-relative -->
        <div id="dataTables_filter_container" class="me-2">
            <!-- This will be populated by jQuery -->
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="form-data-table">
            <thead>
                <tr>
                    <th scope="col">SL No</th>
                    <th scope="col">Client ID</th>
                    <th scope="col">Ticket Details</th>
                    <th scope="col">Created Details</th>
                    <th scope="col">Maintenance Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Resolved Details</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.client_id }}</td>
                    <td>{{ i.ticket_num }} <br> {{ i.ticket_date|date:"d/m/Y" }}</td>
                    <td>{{ i.created_by }} <br> {{ i.creation_date|date:"d/m/Y" }}</td>
                    <td>{{ i.Maintenance_Date|date:"d/m/Y" }}</td>
                    <td>{{ i.status }}</td>
                    <td>{% if i.resolved_by %} {{ i.resolved_by }} <br> {{ i.resolved_dt|date:"d/m/Y" }} {% else %} N/A {% endif %} </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item btn-read" href="{% url 'ticket_view' i.ticket_num %}"><i class="fas fa-eye"></i> View</a></li>
                                <li><a class="dropdown-item btn-edit" href="#"><i class="fas fa-edit"></i> Edit</a></li>
                                <li><a class="dropdown-item btn-delete" href="#"><i class="fas fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
  {% for message in messages %}
      {% if 'success' in message.tags %}
          <script>
              document.addEventListener('DOMContentLoaded', function () {
                  var successAlertElement = document.getElementById('floating-alert-success');
                  var successMessage = document.getElementById('floating-alert-success-message');

                  // Set the success message and display the floating alert
                  successMessage.textContent = "{{ message|safe }}";
                  successAlertElement.style.display = 'block';
                  successAlertElement.classList.add('show');

                  // Hide the success alert automatically after 2 seconds
                  setTimeout(function () {
                      successAlertElement.classList.remove('show');
                      successAlertElement.style.display = 'none';
                  }, 3000); // 2 seconds delay for success alert
              });
          </script>
      {% endif %}
  {% endfor %}
{% endif %}


<!-- {% if success_msg %}
<script>     
    window.onload = function () {
        alert("{{  success_msg|safe }}");                
        window.location.href = "{% url 'manil_ticket' %}";
    };
</script>
{% endif %}

{% if error_msg %}
<script>     
    window.onload = function () {
        alert("{{  error_msg|safe }}");                                    
        setTimeout(function() {
            var modal = new bootstrap.Modal(document.getElementById('manil_ticketModal'), {});
            modal.show();
        }); 
    };
</script>
{% endif %} -->

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% block scripts %}
    {{ block.super }}
    <script src="{% static  'manil/js/manil_ticket.js' %}"></script>
{% endblock scripts %}
{% endblock content %}