{% extends "manil_temp/base.html" %}
{% load static %}
{% block title %}Profile Details{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'manil/css/manil_master.css' %}">
{% endblock styles %}

{% block content %}
  <!-- Profile Information Section -->
<div class="profile-container">
  <div class="profile-section">
    <h2 class="section-heading">Company Details</h2>

    <form action="" method="post" id="form1">
      {% csrf_token %}
      <div class="profile-item">
        <div class="profile-item-title">Company Name</div>
        <input 
          type="text" 
          class="editable-input" 
          name="company_name" 
          id="company_name" 
          placeholder="" 
          value="{{C_data.company_name|default:''}}" 
          readonly>
      </div>
      
      <div class="profile-item">
        <div class="profile-item-title">Date of Incorporation</div>
        <input 
          type="date" 
          class="editable-input" 
          name="date_of_incorporation" 
          id="date_of_incorporation" 
          value="{{C_data.date_of_incorporation|date:'Y-m-d'|default:''}}" 
          readonly>
      </div>
      
      <div class="profile-item">
        <div class="profile-item-title">PAN</div>
        <input 
          type="text" 
          class="editable-input" 
          name="pan" 
          id="pan" 
          value="{{C_data.pan|default:''}}" 
          readonly
          pattern="[A-Z]{5}[0-9]{4}[A-Z]" 
          maxlength="10" 
          minlength="10" 
          required
          oninput="
            this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
            this.setCustomValidity(''); 
            if (!this.checkValidity()) {
              this.setCustomValidity('PAN must be 10 alphanumeric characters long (e.g., ABCDE1234F).');
            }"
        >
      </div>
      
      <div class="profile-item">
        <div class="profile-item-title">FSSAI Number</div>
        <input 
          type="text" 
          class="editable-input" 
          name="fssai_number" 
          id="fssai_number" 
          value="{{C_data.fssai_number|default:''}}" 
          readonly
          maxlength="14"
          placeholder=" " 
          pattern="[0-9]{14}" 
          required
          inputmode="numeric" 
          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('FSSAI number must be a 14-digit numeric code.');"
        >
      </div>
      
      <div class="profile-item">
        <div class="profile-item-title">MSME Registration Number</div>
        <input 
          type="text" 
          class="editable-input" 
          name="msme_number" 
          id="msme_number" 
          value="{{C_data.msme_number|default:''}}" 
          readonly
          maxlength="12"
          pattern="^UDYAM-[A-Z]{2}-\d{2}-\d{7}$" 
          required
          oninput="this.setCustomValidity(''); 
            if (!this.checkValidity()) {
              this.setCustomValidity('MSME Registration Number must follow the format: UDYAM-XX-XX-XXXXXXX');
            }"
        >
      </div>
      
      {% if C_data.company_name %}
      <button class="edit-btn" type="button" id="toggle_btn_1" onclick="enable_form1('edit')">Edit</button>
      {% else %}
          <button class="add-btn" type="button" id="toggle_btn_1" onclick="enable_form1('add')">Add</button>
      {% endif %}
      <button class="save-btn" type="submit" id="submit_1" style="display: none;">Save</button>
  
    </form>
  </div>
</div>

  <!-- Bank Information -->
 <!-- Bank Details -->
<div class="profile-container">
  <div class="profile-section">
    <h2 class="section-heading">Bank Details</h2>
    <form action="" method="post" id="form2">
      {% csrf_token %}
      <div class="profile-item">
        <div class="profile-item-title">Bank Name</div>
        <input 
          type="text" 
          class="editable-input" 
          name="bank_name" 
          id="bank_name" 
          value="{{C_data.bank_name|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Bank Name is required.');">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">Branch</div>
        <input 
          type="text" 
          class="editable-input" 
          name="branch" 
          id="branch" 
          value="{{C_data.branch|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Branch is required.');">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">IFSC Code</div>
        <input 
          type="text" 
          class="editable-input" 
          name="ifsc" 
          id="ifsc" 
          value="{{C_data.ifsc|default:''}}" 
          readonly 
          maxlength="11"
          minlength="11"
          pattern="[A-Z]{4}[A-Z0-9]{7}" 
          oninput="this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '');this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('IFSC Code must follow the format: ABCD0012345.')">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">Account Number</div>
        <input 
          type="number" 
          class="editable-input" 
          name="account_number" 
          id="account_number" 
          value="{{C_data.account_number|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Account Number is required.')">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">Bank Address</div>
        <textarea 
          class="editable-input" 
          name="bank_address" 
          id="bank_address" 
          readonly
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Bank Address is required.');">{{C_data.bank_address|default:''}}</textarea>
      </div>
      
      {% if C_data.bank_name %}
        <button class="edit-btn" type="button" id="toggle_btn_2" onclick="enable_form2('edit')">Edit</button>
      {% else %}
        <button class="add-btn" type="button" id="toggle_btn_2" onclick="enable_form2('add')">Add</button>
      {% endif %}
      <button class="save-btn" type="submit" id="submit_2" style="display: none;">Save</button>
    </form>
  </div>
</div>

<!-- Billing Information -->
<div class="profile-container">
  <div class="profile-section">
    <h2 class="section-heading">Billing Information</h2>
    <form action="" method="post" id="form3">
      {% csrf_token %}
      <div class="profile-item">
        <div class="profile-item-title">Billing GST Number</div>
        <input 
          type="text" 
          class="editable-input" 
          name="billing_gst_number" 
          id="billing_gst_number" 
          value="{{C_data.billing_gst_number|default:''}}" 
          readonly 
          maxlength="15"
          pattern="[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z0-9]{1}[Z]{1}[A-Z0-9]{1}" 
          oninput="this.value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, ''); this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('GST Number must follow the format: 15 alphanumeric characters (e.g., 27ABCDE1234F1Z5).');">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">Billing Address</div>
        <textarea 
          class="editable-input" 
          name="billing_address" 
          id="billing_address" 
          readonly
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Billing Address is required.');">{{C_data.billing_address|default:''}}</textarea>
      </div>
      <div class="profile-item">
        <div class="profile-item-title">City</div>
        <input 
          type="text" 
          class="editable-input" 
          name="billing_city" 
          id="billing_city" 
          value="{{C_data.billing_city|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('City is required.');">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">State</div>
        <input 
          type="text" 
          class="editable-input" 
          name="billing_state" 
          id="billing_state" 
          value="{{C_data.billing_state|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('State is required.');">
      </div>
      <div class="profile-item">
        <div class="profile-item-title">Pincode</div>
        <input 
          type="text" 
          class="editable-input" 
          name="billing_pin" 
          id="billing_pin" 
          value="{{C_data.billing_pin|default:''}}" 
          readonly 
          minlength="6"
          maxlength="6"    
          pattern="[0-9]{6}" 
          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Pin Code must be a 6-digit number.');" >
      </div>
      {% if C_data.billing_gst_number %}
        <button class="edit-btn" type="button" id="toggle_btn_3" onclick="enable_form3('edit')">Edit</button>
      {% else %}
        <button class="add-btn" type="button" id="toggle_btn_3" onclick="enable_form3('add')">Add</button>
      {% endif %}
      <button class="save-btn" type="submit" id="submit_3" style="display: none;">Save</button>
    </form>
  </div>
</div>

<!-- Shipping Information -->
<div class="profile-container">
  <div class="profile-section">
    <h2 class="section-heading">Shipping Information</h2>
    <form action="" method="post" id="form4">
      {% csrf_token %}
      <div class="profile-item">
        <div class="profile-item-title">Shipping GST Number</div>
        <input 
          type="text" 
          class="editable-input" 
          name="shipping_gst_number" 
          id="shipping_gst_number" 
          value="{{C_data.shipping_gst_number|default:''}}" 
          readonly 
          maxlength="15"
          pattern="[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[A-Z0-9]{1}[Z]{1}[A-Z0-9]{1}" 
          oninput="this.value = this.value.toUpperCase(); this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Shipping GST Number must follow the format: 15 alphanumeric characters (e.g., 27ABCDE1234F1Z5).');">
    </div>
    
    <div class="profile-item">
        <div class="profile-item-title">Shipping Address</div>
        <textarea 
          class="editable-input" 
          name="shipping_address" 
          id="shipping_address" 
          readonly
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Shipping Address is required.');">{{C_data.shipping_address|default:''}}</textarea>
    </div>
    
    <div class="profile-item">
        <div class="profile-item-title">City</div>
        <input 
          type="text" 
          class="editable-input" 
          name="shipping_city" 
          id="shipping_city" 
          value="{{C_data.shipping_city|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('City is required.');">
    </div>
    
    <div class="profile-item">
        <div class="profile-item-title">State</div>
        <input 
          type="text" 
          class="editable-input" 
          name="shipping_state" 
          id="shipping_state" 
          value="{{C_data.shipping_state|default:''}}" 
          readonly 
          oninput="this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('State is required.');">
    </div>
    
    <div class="profile-item">
        <div class="profile-item-title">Pincode</div>
        <input 
          type="text" 
          class="editable-input" 
          name="shipping_pin" 
          id="shipping_pin" 
          value="{{C_data.shipping_pin}}" 
          readonly 
          minlength="6" 
          maxlength="6" 
          pattern="[0-9]{6}" 
          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.setCustomValidity(''); if (!this.checkValidity()) this.setCustomValidity('Pin Code must be a 6-digit number.');">
    </div>
    
      {% if C_data.shipping_gst_number %}
        <button class="edit-btn" type="button" id="toggle_btn_4" onclick="enable_form4('edit')">Edit</button>
      {% else %}
        <button class="add-btn" type="button" id="toggle_btn_4" onclick="enable_form4('add')">Add</button>
      {% endif %}
      <button class="save-btn" type="submit" id="submit_4" style="display: none;">Save</button>
    </form>
  </div>
</div>


{% endblock content %}

{% block scripts %} 
  {{ block.super }}
  <script src="{% static 'manil/js/manil_master.js' %}"></script>
{% endblock scripts %}