{% extends "manil_temp/base.html" %}
{% load static %}
{% block title %} Order Remarks {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'manil/css/manil_dispatch.css' %}">
{% endblock styles %}


{% block content %}
<div class="container-fluid table-container display responsive wrap fade-in">
    <div class="d-flex align-items-center position-relative"> <!-- Added position-relative -->
        <div id="dataTables_filter_container" class="me-2">
            <!-- This will be populated by jQuery -->
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="form-data-table">
            <thead>
                <tr>
                    <th scope="col">SL No</th>
                    <th scope="col">Ticket Details</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Remark Title</th>
                    <th scope="col">Remarked By</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in tickets %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.ticket_num }} <br> {{i.ticket_date|date:'Y-m-d'}}</td>
                    <td>{{ i.order_number }}</td>
                    <td>{{ i.remarks_title }}</td>
                    <td>{{ i.remarked_by }} <br> {{ i.remarked_date|date:'Y-m-d'}}  </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenu1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="actionMenu1">
                                <li><a class="dropdown-item btn-read" href="{% url 'order_remarks_view' i.process_num %}"><i class="fas fa-eye"></i>View</a></li>
                                <li>
                                    <a class="dropdown-item btn-delete" href="#" data-href="{% url 'delete_order_remark' i.id %}">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="{% static  'delete.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% block scripts %}
    {{ block.super }}
    <script src="{% static  'manil/js/manil_dispatch.js' %}"></script>
{% endblock scripts %}
{% endblock content %}