
{% extends "manil_temp/base.html" %}
{% load static %}
{% block title %} ChaiPoint User {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'manil/css/ticket_view.css' %}">
    <link rel="stylesheet" href="{% static 'messages.css' %}">
{% endblock styles %}


{% block content %}

<div class="container">
    <!-- Page Header -->
    <h2 class="text-center mb-3">Ticket Summary</h2>

    <!-- Section 1: Order Details -->
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Ticket Details{{tickets.ticket_num}}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Ticket ID: </strong></span>{{tickets.ticket_num}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Ticket Date: </strong></span> {{tickets.ticket_date|date:"d/m/Y"}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Robot ID: </strong></span>{{tickets.robot_id}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Robot Name: </strong></span> {{tickets.robot_name}}
                    </div>
                </div>
               
                <!-- Right column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Raised By: </strong></span> {{tickets.created_by}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Client ID: </strong></span>{{client_dt.client_id}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Client Name: </strong></span> {{client_dt.client_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Complaint Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-12">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Complaint Titls: </strong></span>{{tickets.complaint_title}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Complaint Description: </strong></span> {{tickets.cmp_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if tickets.res_description %}
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Resolved Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-12">                    
                    <div class="mb-3">
                        <span class="text-muted"><strong>Resolved Description: </strong></span> {{tickets.res_description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Back and Print Buttons -->
    <div class="form-buttons mt-3 text-center">
        <button class="btn btn-secondary btn-sm me-2" onclick="window.history.back()">Back</button>

        {% if tickets.status != 'Closed' %}
        <button class="btn btn-primary btn-sm  " data-bs-toggle="modal" data-bs-target="#resolvedModal">Solve Ticket</button>
        {% endif %}
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="resolvedModal" tabindex="-1" aria-labelledby="resolvedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container-custom">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="resolvedModalLabel">Manil Ticket Form</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="TicketForm" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="client_id" name="client_id" placeholder=" " value="{{tickets.client_id}}" readonly required>
                            <label for="client_id" class="form-label">Client ID</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="ticket_num" name="ticket_num" placeholder=" " value="{{tickets.ticket_num}}" readonly required>
                            <label for="ticket_num" class="form-label">Ticket Number</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="ticket_date" name="ticket_date" placeholder=" " value="{{tickets.ticket_date|date:'d/m/Y'}}" readonly required>
                            <label for="ticket_date" class="form-label">Ticket Date</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="date" class="form-control" id="Maintenance_Date" name="Maintenance_Date"  placeholder=" " value="{{tickets.Maintenance_Date|date:'Y-m-d'}}" readonly required>
                            <label for="Maintenance_Date" class="form-label">Date of Maintenance</label>
                        </div>
                       
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="complaint_title" name="complaint_title" placeholder=" " value="{{tickets.complaint_title}}" readonly required>
                            <label for="complaint_title" class="form-label">Complaint Title</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea type="text" class="form-control" id="res_description" name="res_description" placeholder=" "  required></textarea>
                            <label for="res_description" class="form-label">Resolved Description</label>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                        <button class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}





  
