
{% extends "chaipoint_temp/base.html" %}
{% load static %}
{% block title %} ChaiPoint User {% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'customer/css/received_view.css' %}">
    <link rel="stylesheet" href="{% static 'messages.css' %}">
{% endblock styles %}


{% block content %}
<div class="container">
    <!-- Page Header -->
    <h2 class="text-center mb-3">Order Summary</h2>

    <!-- Section 1: Order Details -->
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Order Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Order Number: </strong></span> {{order.process_num}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Order Date: </strong></span> {{order.creation_date|date:'Y-m-d'}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Client Number: </strong></span> {{client_det.client_id}}
                    </div>
                    <div class="mb-3">
                        <span class="text-muted"><strong>Client Name: </strong></span> {{client_det.client_name}}
                    </div>
                </div>
                <!-- Right column -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <span class="text-muted"><strong>Order By: </strong></span> {{order.created_by}}
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2: Shipping Details -->
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
            <h4 class="mb-0">Shipping Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <span class="text-muted"><strong>Shipping Address: </strong></span> {{order.shipping_address}}
                </div>
                <div class="col-md-12 mb-3">
                    <span class="text-muted"><strong>City: </strong></span> {{order.shipping_city}}
                </div>
                <div class="col-md-12 mb-3">
                    <span class="text-muted"><strong>State: </strong></span> {{order.shipping_state}}
                </div>
                <div class="col-md-12 mb-3">
                    <span class="text-muted"><strong>Pin Code: </strong></span> {{order.shipping_pin}}
                </div>
            </div>
        </div>
    </div>

    <!-- Section 3: Line Items Table -->
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table text-center">
                <tr>
                    <th>Material Name</th>
                    <th>Quantity</th>
                    <th>Base Price</th>
                    <th>GST Type</th>
                    <th>GST Rate (%)</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for i in ord_det %}
                <tr>
                    <td>{{i.material_name}}</td>
                    <td>{{i.qty}} {{i.uom}}</td>
                    <td>{{i.base_price}}</td>
                    <td>{{i.gst_type}}</td>
                    <td>{{i.gst_rate}}</td>
                    <td>{{i.sub_total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Grand Total and Amount in Words -->
    <div class="row mb-4=3">
        <div class="col-md-6">
            <div class="card p-3 shadow-sm">
                <p><strong>Amount in Words: </strong>{{order.ammount_words}}.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3 shadow-sm">
                <p><strong>Grand Total: Rs. {{order.grand_total}} </strong> </p>
            </div>
        </div>
    </div>

    <!-- Back and Print Buttons -->
    <div class="form-buttons mt-3 text-center">
        <button class="btn btn-secondary btn-sm me-1" onclick="window.history.back()">Back</button>
        {% if order.status != 'Dispatched' and order.status != 'Delivered' and order.status != 'Remarked' %}
         <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#dispatchmodal">Dispatch Order</button>
        {% endif %} 
    </div>
</div>

<div class="modal fade" id="dispatchmodal" tabindex="-1" aria-labelledby="dispatchmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content container-custom" id="modal_container">
  
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="dispatchmodalLabel">Dispatch</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  
      <!-- Modal Body -->
      <div class="modal-body">
        <form id="DispatchForm" method="post">
           {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="process_number" name="process_number" value="{{order.process_num}}" maxlength="15" placeholder=" " readonly required>
                    <label for="process_number" class="form-label">Order Process Number</label>
                </div>
                <div class="col-md-6 form-group">
                    <input type="date" class="form-control" id="process_date" name="process_date" value="{{order.creation_date|date:'Y-m-d'}}" placeholder=" " readonly required>
                    <label for="process_date" class="form-label">Order Process Date</label>
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="client_id" name="client_id" value="{{client_det.client_id}}"  placeholder=" " readonly required>
                    <label for="client_id" class="form-label">Client ID</label>
                </div>
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="client_name" name="client_name" value="{{client_det.client_name}}" placeholder=" " readonly required>
                    <label for="client_name" class="form-label">Client Name</label>
                </div>
                <div class="col-md-6 form-group">
                    <input type="date" class="form-control" id="expected_delivery_date" name="expected_delivery_date"  placeholder=" " required>
                    <label for="expected_delivery_date" class="form-label">Expected Delivery Date</label>
                </div>
            </div>
            <div class="form-buttons">
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="hidden">Close</button>
                <button class="btn btn-success" type="submit" >Dispatch</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const deliveryDateField = document.getElementById("expected_delivery_date");
  
      // Get the current date in YYYY-MM-DD format
      const today = new Date().toISOString().split("T")[0];
  
      // Set the minimum value of the date field to today (so user cannot pick a past date)
      deliveryDateField.setAttribute("min", today);
  
      // Validate when the user changes the date
      deliveryDateField.addEventListener("input", function () {
        const selectedDate = deliveryDateField.value;
  
        // If the selected date is less than today's date, show validation message
        if (selectedDate < today) {
          deliveryDateField.setCustomValidity("The Expected Delivery Date cannot be today or in the past.");
          deliveryDateField.reportValidity();
        } else {
          // Clear the custom validity message
          deliveryDateField.setCustomValidity("");
        }
      });
    });
  </script>

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'chaipoint/js/order_view.js' %}"></script>
{% endblock scripts %}


{% endblock content %}





  
