 /* General container styles */
 .main-container {
    display: flex;
    min-height: 100vh;
}

.content-area {
    flex: 1;
    overflow-y: auto;
}

.header-bar {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header-inner {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.btn {
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #4299e1;
    border: none;
}

.btn-primary:hover {
    background-color: #2b6cb0;
}

.btn-success {
    background-color: #48bb78;
}

.btn-success:hover {
    background-color: #38a169;
}

/* Grid container wrapper */
.grid-container-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden; /* Hide overflow for a clean look */
}

.grid-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 10px; 
    margin-bottom: 10px;
}

.scroll-button {
    position: absolute;
    top: 50%;
    color: #4299e1;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    z-index: 10;
    transition:  transform 0.3s ease; /* Animation for buttons */
    background-color: transparent;
}

.scroll-button:hover {
    color: #008cff;
    transform: translateY(-50%) scale(1.1); /* Slight zoom effect on hover */            
}

.scroll-button-left {
    left: -5px;
}

.scroll-button-right {
    right: 5px;
}

.card {
    min-width: calc(33.33% - 10px); /* Display 3 cards at a time */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.card-content {
    padding: 20px;
}

.card-header {
    display: flex;
    align-items: center;
}

.icon-container {
    background-color: #4299e1;
    border-radius: 4px;
    padding: 10px;
}

.d-icon {
    color: #fff;
    font-size: 24px;
}

.details {
    margin-left: 20px;
}

.details-info {
    display: flex;
    align-items: baseline;
}

.stats {
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

.stats-change {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #48bb78;
}

.progress-container {
    margin-top: 16px;
}

.progress-bar {
    background-color: #bee3f8;
    height: 8px;
    border-radius: 4px;
}

.progress {
    background-color: #4299e1;
    height: 100%;
    border-radius: 4px;
}

.card-actions {
    margin-top: 16px;
}

.purple-bg {
    background-color: #805ad5;
}

/* Table Styles */
.table-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 16px;
    text-align: left;
    font-size: 14px;
    color: #555;
}

.table th {
    background-color: #f7fafc;
    font-weight: bold;
    text-transform: uppercase;
}

.status {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 9999px;
}


.link {
    color: #5a67d8;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.order_container{
    padding: 15px 10px;
}

.order_container .card {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order_container .card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #4a5568;
    margin-bottom: 5px;
}

.order_container .card p {
    font-size: 3rem;
    font-weight: bold;
}

.blue-text {
    color: #4299e1;
}

.green-text {
    color: #48bb78;
}

.purple-text {
    color: #9f7aea;
}

.red-text {
    color: #ed1515;
}


.grid {
    display: grid;
    gap: 24px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.status-green {
    background-color: #c6f6d5;
    color: #2f855a;
}

.status-blue {
    background-color: #bee3f8;
    color: #2b6cb0;
}
.status-red {
    background-color: #ff9d9d;
    color: #b02b2b;
}
.status-yellow {
    color: rgb(186, 186, 36); /* Text color */
    background-color: #ffffbc; /* Background color for visibility */
}
